<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - My Flask App</title>
</head>
<body>

{% include "header.html" %}

    <main>
        <h2>Contact Us</h2>
        <p>Feel free to contact us using the following information:</p>

        <ul>
            <li>Email: contact@example.com</li>
            <li>Phone: +1 234 567 890</li>
        </ul>

        <p>You can also send a message through our social pages.</p>
    </main>

{% include "footer.html" %}


</body>
</html>
